.component-ticket-tag{
  border: rgb(75, 167, 21);
  background: rgba(131, 244, 66,0.5);
  padding: 2px;
  margin: 2px 1px;
  border-radius: 6px;
}

.component-ticket-tag >i{
  color: rgb(75, 167, 21);
  font-size: 15px;
}