.component-ticket{
  margin: 1%;
}

.component-ticket-timer{
  cursor: pointer;
}

.component-ticket-timer > i{
  font-size: 110%;
}

.component-ticket-timer.component-ticket-timer-stop{
  color:#cc380c;
}

.component-ticket-timer.component-ticket-timer-play{
  color:#70c613;
}